---
Card Type: Tactic
Subtype: Security Measure
Faction: Fake Tech
Rarity: R1
Funding Cost: 2F
tags:
  - card
aliases:
  - CAPTCHA Verification
---
> [!info]- Card Art
> ![[CAPTCHA Verification.png]]

[[CARD TYPES/Card Type|Card Type]]: [[Tactic]] - [[Security Measure]]  
[[Faction]]: [[Fake Tech]]  
[[Rarity]]: [[R1]]  
[[Funding Cost]]: [[2F]]  

Rules Text:  

This Tactic enters play face-up in your [[Think Tank]]. You may activate its effect at any time.  
After using its effect, send this card to your history.  

CAPTCHA Verification may not be activated the turn it came into play.  

[V E R I F I C A T I O N] Flip a coin.  
If heads, the enemy succeed the CAPTCHA. That player may place a +1 counter on every stat for a robotic creature they control. That robot is now verified.  
If tails, the enemy failed the CAPTCHA. Skip that player's next turn, TIME WASTED.   